# Caddyfile for Vaultwarden

vault.dreamit.software {
  encode zstd gzip

  reverse_proxy vaultwarden:80 {
    header_up X-Real-IP {remote_host}
  }
}

estudiocivic.com {
  reverse_proxy 157.180.65.104:3005
}